.App {
  text-align: center;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 8px;
  width: 200px;
}